html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter var experimental', 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
a {
  text-decoration: none;
}
.btn {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #d1d1d1;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  color: #213547;
  background-color: #f2f2f2;
  transition: all 0.3s;
}
.btn[small] {
  font-size: 12px;
  line-height: 25px;
  padding: 0 10px;
}
.btn:hover {
  background-color: #e5e5e5;
}
.btn[prime] {
  background-color: #42b883;
  border-color: #42d392;
  color: #ffffffde;
}
.btn[prime]:hover {
  border-color: #42d392;
  background-color: #42d392;
}
.btn.mr {
  margin-right: 8px;
}
input {
  border: 1px solid #d1d1d1;
  outline: none;
  border-radius: 8px;
  padding: 4px 6px;
  width: 100%;
}
nav {
  padding: 0 32px;
  border-bottom: 1px solid rgba(60, 60, 60, 0.12);
}
nav .container {
  height: 72px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
nav .container .title {
  font-size: 16px;
  font-weight: 600;
  color: #213547;
  height: 72px;
  line-height: 72px;
}
#banner {
  margin: 0 auto;
  min-width: 480px;
  max-width: 1440px;
  display: flex;
  padding: 72px 64px 64px;
}
#banner .main {
  display: flex;
  flex-direction: column;
  width: 65%;
}
#banner .main .title,
#banner .main .subtitle {
  line-height: 64px;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
}
#banner .main .title {
  background: linear-gradient(132deg, #f4d03f 15%, #16a085 55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#banner .main .subtitle {
  font-size: 50px;
}
#banner .main .detail {
  flex-grow: 1;
}
#banner .image {
  width: 35%;
}
#banner .image .image-container {
  position: relative;
  width: auto;
}
#banner .image .image-container img {
  transform: translateY(-100%);
  position: absolute;
  max-width: 80%;
}
#banner .image .image-bg {
  border-radius: 50%;
  background-image: linear-gradient(303deg, #f4d03f 50%, #16a085 98%);
  top: 0;
  filter: blur(70px);
}
#banner .image .image-bg img {
  transform: unset;
  position: unset;
}
#features {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 480px;
  padding: 72px 64px 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
#features article {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 24px;
}
#features article .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  margin-bottom: 20px;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  font-size: 24px;
}
#features article .title {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}
#features article .playground {
  padding-top: 8px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(60, 60, 60, 0.7);
}
.parent {
  background-color: #e5e5e5;
}
.son {
  margin-left: 1rem;
  background-color: #a4a4a47b;
}
/*# sourceMappingURL=./style.css.map */